#chat-bottom {
    position: fixed;
    bottom: 10px;
}

.panel-body {
    overflow-y: scroll;
    height: 85%;
}
.text-right {
	background-color: #ff9891;
	
}
.text-left
{
	background-color: #60fb60;
}