{% load static  %}
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
	<script src="{% static 'bootstrap.min.js' %}"></script>
	<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
	<style>
		.error {
			/*color: red;*/
			border-color: green;
			padding:lem;
			width:100%;
			background-color:  red;
		}
	</style>
</head>
<body>
{% if messages %}
	{% for message in messages %}
		{% if message.tags %}<span class = {{message.tags}}> {{ message }}</span>{% endif %}
	{% endfor %}
{% endif %}
	<form action="/log/auth/" method="POST">
			{% csrf_token %}
			<div id ='content1'>
				<p><label for="Name">User Name:</label>
				<input type="text" name="Name" value="" id="Name" placeholder="Enter Your UserName" required></p>
				<p>Password:<input type="password" name="password" value="" id="password" placeholder="Password here" required></p>
				<p><input type="Submit" value="Log In"></p>
			</div>
		</form>
		<a href="/log/register/">Register Here</a>
</body>
</html>